.bigFormSection .button {
  background-color: #d82738 !important;
  margin: 0 0 30px !important;
}

.bigFormSection .button:hover:hover {
  background: transparent !important;
}

.bigFormSection .formBox .fRow .wpcf7-form-control-wrap input,
.bigFormSection .formBox .fRow .wpcf7-form-control-wrap textarea {
  text-transform: capitalize;
}

.bigFormSection .formBox .fRow .wpcf7-form-control-wrap input[type="file"] {
  padding-left: 0 !important;
}

.bigFormSection .formBox .fRow .wpcf7-form-control-wrap input[type="date"] {
  text-transform: uppercase;
}

.bigFormSection .formBox .fRow .wpcf7-form-control-wrap input[type="date"]:before {
  content: "Closing Date";
  margin-right: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 2px;
}

.bigFormSection .wrap {
  padding: 50px 20px 20px !important;
}
@media screen and (min-width: 768px) {
  .bigFormSection .wrap {
    padding: 50px 3% !important;
  }
}
.bigFormSection h2,
.bigFormSection h3,
.bigFormSection h4 {
  margin: 0;
  text-align: left;
}
.bigFormSection h3 span,
.bigFormSection h4 span {
  font-size: 12px;
}
.bigFormSection h2 {
  text-align: center;
  text-transform: uppercase;
}
.bigFormSection h4 {
  padding-bottom: 10px;
}
/*  .bigFormSection .contact_column {
  width: 100%;
} */
.bigFormSection .fRow {
  padding-bottom: 20px;
}
.bigFormSection .wpcf7-response-output {
  border-color: #ff0000 !important;
  color: #ff0000 !important;
}
.bigFormSection textarea + .wpcf7-not-valid-tip {
  height: 100%;
}
.bigFormSection .wpcf7-response-output {
  position: static !important;
}
@media screen and (max-width: 479px) {
  .bigFormSection .wrap {
    max-width: 100%;
  }
  .bigFormSection div.wpcf7 input:not([type="submit"]):not([type="button"]):not([type="radio"]):not([type="checkbox"]),
  .bigFormSection div.wpcf7 textarea {
    padding: 16px 6px !important;
  }
}
@media screen and (min-width: 768px) {
  .bigFormSection .lBox,
  .bigFormSection .rBox {
    -webkit-flex-basis: 48%;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
  }
}
